

#searchDiv{
	width: 80%;
	background-color: #eee;
	margin-top: 15px;
	padding: 15px;
	border-radius: 10px;
}

.searchTable tr td{
	padding: 5px;
	margin: 20px 0px;
}

.searchInputWidth{
	width: 35%
}

			
h2{
	color: white;
	background-color: #ff6500;
	width: 80%;
	height: 50px;
	border-radius: 10px;
	padding: 10px 0px;
}

#diverror{
	width: 100%;
	height: 40px; width:80%;
	border: solid  1px red; 
	color: red; 
	background-color: #eee";
	font-size: 12px;
	display:none;
	padding-top: 10px;	
}

#divNoData{
	width: 100%;
	height: 40px; width:80%;
	border: solid  1px blue; 
	color: blue; 
	background-color: #eee";
	font-size: 12px;
	display:none;
	padding-top: 10px;	
}

.color-orange{
	color: #ff8000;
}

.bold{
	font-weight: bold;
}

table td{
    word-wrap:break-word;
}

